<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#BA0C2F">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>" />
    <meta
      name="keywords"
      content="overheard at work, funny" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bozdoz" />
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="twitter:creator" content="@bozdoz" />
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.site %>/images/apple-touch-icon-precomposed.png" />

    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.site %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:locale" content="en_CA" />

    <link rel="apple-touch-icon" sizes="114x114" href="<%= htmlWebpackPlugin.options.site %>/images/apple-touch-icon-precomposed.png" /> 
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="app">
      <div id="headline-container">
        <p id="headline">...</p>
      </div>
      <div id="buttons">
        <button 
          type="button" 
          role="button" 
          id="prev">
        </button>
        <button 
          type="button" 
          role="button" 
          id="next">
        </button>
      </div>
    </div>
  </body>
</html>
